<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto project</title>
</head>
<body>
    <h1>BITS F463 CRYPTOGRAPHY course project</h1>
    <p>
        GET: <a href="http://0.0.0.0:5000/mine">http://0.0.0.0:5000/mine </a> - creates new block with proof of work <br>
POST: <a href="http://0.0.0.0:5000/transactions/new">http://0.0.0.0:5000/transactions/new </a> - create new transactions <br>
GET: <a href="http://0.0.0.0:5000/chain">http://0.0.0.0:5000/chain </a> - shows the full blockchain <br>
POST: <a href="http://0.0.0.0:5000/nodes/register">http://0.0.0.0:5000/nodes/register </a> - will register the node for send nodes address <br>
GEt: <a href="http://0.0.0.0:5000/nodes/resolve">http://0.0.0.0:5000/nodes/resolve </a> - This will valid the longest chain in blockchain and shows the authoritized chain <br>
    </p>
</body>
</html>